<!-- <app-top-bar></app-top-bar> -->
<div class="outer">
  <div>
    <app-top-bar></app-top-bar>
  </div>
  <div class="clinic-container">
    
    <div class="doctors" *ngIf="doctors.length > 0">
      <div class="upper-section">
        <h2>Doctors</h2>
        <button class="add-doctor" (click)="openModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg>         
        </button>
      </div>
      <ul>
        <li *ngFor="let doctor of doctors">
          <div class="doctors-list" [ngClass]="{ 'selected': doctor === selectedDoctor }">
            <button class="select-doctor" (click)="selectDoctor(doctor)">
              {{ doctor.name }}
            </button>
            <button class="delete-doctor" (click)="deleteDoctor(doctor._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            </button>
          </div>
        </li>
      </ul>
      <div class="lower-section">
        <h2>Create a Slot</h2>
        <button class="add-slot" (click)="openSlotModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg> 
        </button>
      </div>
      
    </div>
    <div class="inner-doctors" *ngIf="doctors.length === 0">
      <p>No doctors available.</p>
    </div>
  
    
    <div *ngIf="isModalOpen" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="create-doctor">Create Doctor</h2>
          <span (click)="closeModal()" class="close-btn">&times;</span>
        </div>
        <form (ngSubmit)="addDoctor()">
          <div class="form-group">
            <label for="name">Doctor Name</label>
            <input type="text" id="name" [(ngModel)]="newDoctor.name" name="name" required />
          </div>
          <div class="form-group">
            <label for="qualification">Qualifications</label>
            <input type="text" id="qualification" [(ngModel)]="newDoctor.qualification" name="qualification" required />
          </div>
          <div class="form-group">
            <label for="image_url">Image URL</label>
            <input type="text" id="image_url" [(ngModel)]="newDoctor.image_url" name="image_url" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="newDoctor.description" name="description"></textarea>
          </div>
          <button type="submit" class="create-doctor-button">Create Doctor</button>
        </form>
      </div>
    </div>

    <div *ngIf="isSlotModalOpen" class="slot-modal-overlay">
      <div class="slot-modal">
        <span (click)="closeSlotModal()" class="close-btn">&times;</span>
        <div class="new slot">
          <form (ngSubmit)="addSlot()">
            <div class="form-group">
              <label for="time_of_day">Time of Day</label>
              <select id="time_of_day" [(ngModel)]="period" name="time_of_day" required>
                <option value="morning">Morning</option>
                <option value="afternoon">Afternoon</option>
                <option value="evening">Evening</option>
              </select>
            </div>
            <div class="form-group">
              <label for="slot_time">Slot</label>
              <input
                type="text"
                id="slot_time"
                [(ngModel)]="newSlot.time"
                name="slot_time"
                required
              />
            </div>
            <button type="submit" class="add-slot-button">Create Slot</button>
          </form>
        </div>
      </div>
    </div>
    
  
    <div class="slots" *ngIf="selectedDoctor">
      <div class="doctor-details" *ngIf="selectedDoctor">
        <div class="image">
          <img [src]="selectedDoctor.image_url" alt="Doctor's Image" class="doctor-image" />
        </div>
        <div>
          <h2 style="font-weight: 600; font-size: 24px;">{{ selectedDoctor.name }}</h2>
          <p style="font-weight: 400; font-size: 16px; color: #a9a9a9;">{{ selectedDoctor.qualification }}</p>
          <p><strong style="margin-top: 56px; display: block; font-weight: 400; font-size: 16px; color: black;">{{ selectedDoctor.description }}</strong></p>
        </div>
      </div>
      <div class="border-line">

      </div>
      <div *ngIf="slots[0]?.morning?.slots?.length > 0 && selectedDoctor">
        <h3 style="font-weight: 600; font-size: 16px; color: black;">Morning</h3>
        <ul class="morning">
          <li *ngFor="let slot of slots[0].morning.slots">
            <button
              [ngClass]="{'selected': slot.is_selected, 'disabled': slot.is_occupied}"
              (click)="!slot.is_occupied && selectSlot(slot, 'morning')"
              [disabled]="slot.is_occupied"
            >
              {{ slot.time }}
            </button>
          </li>
        </ul>
      </div>
  
      <div *ngIf="slots[0]?.afternoon?.slots?.length > 0 && selectedDoctor">
        <h3 style="font-weight: 600; font-size: 16px; color: black;">Afternoon</h3>
        <ul class="afternoon">
          <li *ngFor="let slot of slots[0].afternoon.slots">
            <button
              [ngClass]="{'selected': slot.is_selected, 'disabled': slot.is_occupied}"
              (click)="!slot.is_occupied && selectSlot(slot, 'afternoon')"
              [disabled]="slot.is_occupied"
            >
              {{ slot.time }}
            </button>
          </li>
        </ul>
      </div>
  
      <div *ngIf="slots[0]?.evening?.slots?.length > 0 && selectedDoctor">
        <h3 style="font-weight: 600; font-size: 16px; color: black;">Evening</h3>
        <ul class="evening">
          <li *ngFor="let slot of slots[0].evening.slots">
            <button
              [ngClass]="{'selected': slot.is_selected, 'disabled': slot.is_occupied}"
              (click)="!slot.is_occupied && selectSlot(slot, 'evening')"
              [disabled]="slot.is_occupied"
            >
              {{ slot.time }}
            </button>
          </li>
        </ul>
      </div>
  
      <div class="book-appt" *ngIf="selectedDoctor">
        <button class="book" (click)="bookAppointment()" [disabled]="!selectedSlot">
          Book Appointment
        </button>
      </div>
      <button class="delete-slot" (click)="deleteSlot()" [disabled]="!selectedSlot">
        Delete Slot
      </button>
      <div *ngIf="feedbackMessage" class="feedback-message" [ngClass]="{ success: isFeedbackSuccess, error: !isFeedbackSuccess }">
        
        <ng-container *ngIf="isFeedbackSuccess">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
          </svg>
          {{ feedbackMessage }}
        </ng-container>
      
        
        <ng-container *ngIf="!isFeedbackSuccess">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
          {{ feedbackMessage }}
        </ng-container>
      </div>
    </div>
    <div class="inner-slots" *ngIf="!selectedDoctor">
      <p>Please select a doctor to book an appointment.</p>
    </div>
  </div>
</div>

