.top {
    display: flex;
    align-items: center;
    background-color: rgb(164, 164, 231);   
    color: black;  
    font-size: 16px;  /* Text size */
    font-weight: bold;
    padding: 10px 20px;  /* Padding inside the button */
    border-radius: 5px;  /* Rounded corners */
    border: none;  /* No border */
    cursor: pointer;  /* Pointer cursor on hover */
    transition: background-color 0.3s ease;  /* Smooth transition for background color */
    text-decoration: none;  /* Remove underline if it's a link */
    width: 100%;  
  }
  
  .top span {
    display: inline-flex;
    gap: 8px;  /* Space between the temperature and time */
    align-items: center;
  }
  
  .top:hover {
    background-color: rgb(119, 119, 182);  
  }
  
  .top:focus {
    outline: none;  /* Remove outline when focused */
  }
  
  .top span .weather-icon {
    margin-right: 8px;  /* Add space if you use icons */
  }

  .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }

  .top-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(164, 164, 231); 
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
    
  }

  .time {
    text-align: right;
    font-weight: bold;
  }
  
  .modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%; 
    overflow-y: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

  .weather-table {
    width: 100%;
    border-collapse: collapse; 
    margin: 10px 0;
  }
  
  .weather-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
  }
  
  .weather-table td strong {
    font-weight: bold;
  }

  .forecast {
    padding: 8px;
    /* border-bottom: 1px solid #ddd;  */
  }

  .modal-header {
    display: flex;
    background-color: white;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .close-btn {
    color: red;
    background-color: rgb(245, 240, 240);
    padding: 5px;
    float: right ; 
    font-size: 28px; 
    font-weight: bold; 
    text-align: right;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: white; 
    background-color: red;
    text-decoration: none; 
    cursor: pointer; 
  }