.weather-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .weather-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .weather-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .weather-table th, .weather-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .weather-table th {
    background-color: #f4f4f4;
  }
  
  .weather-table td {
    background-color: #fff;
  }
  
  .weather-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .location{
    
    background-color: rgb(164, 164, 231);  
  }
  