

   <div class="weather-container">
    <h2 class="location">Noida, {{ currentTemp }}°C</h2>
    <h2>Weather Forecast for Noida</h2>
    <table class="weather-table">
      <thead>
        <tr>
          <th>Date/Time</th>
          <th>Weather</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Min Temperature</th>
          <th>Max Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of hourlyForecast">
          <td>{{ data.date }}</td>
          <td>{{ data.weather }}</td>
          <td>{{ data.temp }}</td>
          <td>{{ data.humidity }}</td>
          <td>{{ data.minTemp }}</td>
          <td>{{ data.maxTemp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  